* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #0e0d12;
  padding: 0 10rem;
}
.container {
  display: grid;
  grid-template-areas: "navbar" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 4rem;
  gap: 1.2rem;
  padding: 20px;
  min-height: 100vh;
  max-width: 1400px;
}
.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  justify-content: space-between;
  background-color: #09090e;
  color: #32a04b;
  font-weight: 700;
}
.logo {
  display: flex;
  align-items: center;
  height: 18px;
  width: 18px;
  background-color: #06de42;
  border-radius: 100px;
  animation: reverse-logo 0.5s forwards ease;
}
.logo:hover {
  animation: logo 0.5s forwards ease;
  box-shadow: 1px 1px 10px #06de42;
}
.logo-png {
  padding-left: 2px;
  height: 14px;
  width: 16px;
}
.btn-navbar {
  display: flex;
  align-items: center;
  border: solid 0.7px #06de42;
  border-radius: 255px;
  padding: 0 0.5rem;
}
.btn-nav {
  color: #32a04b;
  font-size: 8px;
}
.btn-navbar:hover {
  background-color: #06de4342;
  box-shadow: inset 0px 0px 15px #06de42;
}

.point-online {
  padding-right: 0.2rem;
  padding-bottom: 0.1rem;
  animation: online 0.9s linear infinite;
}
@keyframes online {
  from {
    color: #09090e;
  }
  to {
    color: #32a04b;
  }
}
@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes reverse-logo {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.main-area {
  grid-area: main;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  gap: 1.5rem;
}
:root {
  --dark-green: #022d16;
  --green: #054d2e;
  --bright-green: 0, 255, 0;
}
#radar {
  height: 16rem;
  width: 16rem;
  aspect-ratio: 1;
  padding: 5px;
}

#circle {
  pointer-events: none;
  height: 40%;
  width: 40%;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}
#rings {
  pointer-events: none;
  height: 100%;
  width: 100%;
  background-color: var(--green);
  position: absolute;
}
#rings > * {
  border-radius: 100%;
  border: 2px solid rgb(var(--bright-green));
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
}
#ring-0 {
  width: 100%;
}
#ring-1 {
  width: 80%;
}
#ring-2 {
  width: 60%;
}
#ring-3 {
  width: 40%;
}
#ring-4 {
  width: 20%;
}
#rotator {
  pointer-events: none;
  height: 100%;
  width: 100%;
  background: conic-gradient(
    transparent 0deg,
    rgba(var(--bright-green), 0.5) 250deg,
    rgba(var(--bright-green), 0.8) 359deg,
    white
  );
  position: absolute;
  animation: rotate infinite linear 3s;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bar-Dj {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #16121e;
  justify-content: space-between;
  padding: 40px;
  border: 1px solid#333;
  border-radius: 20px;
  height: 11rem;
}
.bar-Dj:hover {
  border-radius: 20px;
  border: 1px solid #01cd0d;
  transition: border 0.3s ease;
}
.hero-section {
  flex: 1;
}
.div1 > h1 {
  color: #01cd0d;
  font-size: 1.5rem;
}
.div2 > h1 {
  color: #01cd0d;
  font-size: 1.5rem;
}
.div1 > h5 {
  color: #6d6b78;
  font-size: 0.5rem;
}
.div2 > h5 {
  color: #6d6b78;
  font-size: 0.5rem;
}
.buttons {
  display: flex;
  gap: 0.5rem;
}
.btn-main {
  width: fit-content;
  display: flex;
  align-items: center;
  background: none;
  background-color: #16121e;
  color: white;
  border: solid 1px #6d6b78;
  border-radius: 12px;
  padding: 6px;
  font-size: 10px;
  gap: 6px;
  transform: translateY(3px);
  transition: transform 0.5s ease;
}
.btn-main:hover {
  border-radius: 20px;
  border: 1px solid #01cd0d;
  background-color: #06de432a;
  box-shadow: inset 0px 0px 15px #06de42;
  transform: translateY(-3px);
  transition: transform 0.5s ease;
}
.img-btn {
  width: 14px;
}
.stats-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1400px;
}
.stat-card {
  background-color: #16121e;
  color: white;
  border: solid 1px #6d6b78;
  padding: 10px 10px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.stat-card:nth-child(odd) {
  border-left: solid 1.5px #01cd0d;
  transition: all 0.3s ease;
}
.stat-card:nth-child(even) {
  border-left: solid 1.5px yellow;
  transition: all 0.3s ease;
}
.stat-card:hover {
  border: 1.5px solid #01cd0d;
  transform-origin: right;
  transform: rotate(1.5deg) translateY(-3px);
  transition: all 0.3s ease;
}
.stat-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.critical {
  width: 2.5rem;
  padding: 3.5px;
  font-size: 6px;
  border: 1px solid red;
  border-radius: 5px;
}
.high {
  width: 2.5rem;
  padding: 3.5px;
  font-size: 6px;
  border: 1px solid yellow;
  border-radius: 5px;
}
.medium {
  width: 2.5rem;
  padding: 3.5px;
  font-size: 6px;
  border: 1px solid green;
  border-radius: 5px;
}
.title-top {
  font-size: 7px;
}
.stat-title {
  font-size: 8px;
  display: flex;
}

.range {
  font-size: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  color: #01cd0d;
}
#range {
  accent-color: #01cd0d;
  width: 10rem;
  height: 0.7rem;
}
