* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #0e0d12;
}
.container {
  display: grid;
  grid-template-areas: "navbar" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 4rem;
  gap: 1.2rem;
  padding: 20px;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
}
.navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  justify-content: space-between;
  background-color: #09090e;
  color: #32a04b;
  font-weight: 700;
}
.logo {
  display: flex;
  align-items: center;
  height: 18px;
  width: 18px;
  background-color: #06de42;
  border-radius: 100px;
}
.logo:hover{
  animation: logo 0.5s forwards ease;
  box-shadow: 1px 1px 10px #06de42;

}
.logo-png {
  padding-left: 2px;
  height: 14px;
  width: 16px;
}
.btn-navbar {
  display: flex;
  align-items: center;
  border: solid 0.7px #06de42;
  border-radius: 25px;
  padding: 0 0.5rem;
}
.btn-nav {
  text-shadow: none;
  color: #32a04b;
  background: none;
  font-size: 8px;
}
.btn-navbar:hover {background-color: #06de432a;}

.point-online {
  padding: 0.2rem;
  padding-bottom: 0.5rem;
  animation: online 0.6s infinite ease ;
}
@keyframes online {
  from {
    color: #09090e;
  }
  to {
    color: #32a04b;
  }
}
@keyframes logo {
  from{
    transform:rotate(0deg) ;
  }
  to{
    transform: rotate(180deg);
  }
}
